<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util
 	http://www.springframework.org/schema/util/spring-util.xsd">
	 
	<context:property-placeholder location="classpath:dbConfig.properties" />
	<context:component-scan base-package="com" />

	<util:map id="branchWiseHead" map-class="java.util.HashMap">
 		<entry key="admin" value="John"/>
 		<entry key="hr" value="Jane"/>
 	</util:map>
 
	<util:properties id="ipAddresses">
 		<prop key="admin">192.168.1.1</prop>
 		<prop key="hr">192.168.0.1</prop>
 	</util:properties>
 	
	<util:set id="branches" set-class="java.util.HashSet">
 		<value>hr</value>
 		<value>admin</value>
 	</util:set>
 
	<util:list id="directors" list-class="java.util.ArrayList">
 		<value>John</value>
 		<value>Jane</value>
 	</util:list>

	<util:properties id="databaseDetails">
 		<prop key="user">${dbConfig.user}</prop>
 		<prop key="password">${dbConfig.password}</prop>
 	</util:properties>
</beans>